<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <span th:text="${board.title}"></span>
    <span th:text="${board.content}"></span>
    <span th:text="${board.userId}"></span>
    <span th:text="*{#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
</div>
<button onClick="requestList()">목록</button>
<button onClick="editPost()">수정</button>
<button onClick="deletePost()">삭제</button>

<a href="/board/">back</a>

<script th:inline="javascript">
    function requestList(){
        location.href="/board/";
    }

    function editPost(){
        console.log("edit");
    }

    function deletePost(){
        console.log("delete");
    }
</script>
</body>
</html>