<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${totalCount} > 0">
    <table>
        <tr>
            <td>id</td>
            <td>title</td>
            <td>writer</td>
            <td>regdate</td>
            <td>hits</td>
        </tr>
        <tr th:each="board : ${boards}">
            <td th:text="${board.boardId}"></td>
            <td><a th:href="@{|/board/${board.boardId}|(page=${page})}" th:text="${board.title}"></a></td>
            <td th:text="${board.userId}"></td>
            <td th:text="*{#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.viewCnt}"></td>
        </tr>
    </table>

    <div>
        <th:block th:if="${page} > 1">
            <a th:href="@{/board(page=1)}">&lt&lt</a>
            <a th:href="@{/board(page=${page-1})}">prev</a>
        </th:block>
        <th:block th:each="num : ${#numbers.sequence(startPage, endPage)}">
            <span th:if="${num} == ${page}" th:text="${num}"></span>
            <a th:unless="${num} == ${page}" th:href="@{/board(page=${num})}" th:text="${num}"></a>
        </th:block>
        <th:block th:if="${page} < ${maxPage}">
            <a th:href="@{/board(page=${page + 1})}">next</a>
            <a th:href="@{/board(page=${maxPage})}">&gt&gt</a>
        </th:block>
    </div>
</div>

<div th:unless="${totalCount} > 0">게시글이 없습니다.</div>

<a href="/board/save">write</a>

</body>
</html>